$vm_design: 750;
$vm_fontsize: 75;
@function rem($px) {
  @return ($px / $vm_fontsize) * 1rem;
}

/* html根元素大小
---------------------------------------- */
html {
  font-size: ($vm_fontsize / ($vm_design / 2)) * 100vw;

  @media screen and (max-width: 320px) {
    font-size: 64px;
  }
  @media screen and (min-width: 540px) {
    font-size: 108px;
  }
}

// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body {
  min-width: 320px;
}